<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body >
    <div class="barc">
      <h1 style="text-align: center;">Bar Chart</h1>
      <div  class="selectbar">
        <select name="bar" id="bar" onchange="changechartbar(id);">
          <option value="all" selected>All</option>
          <%  for(var i=0; i<students.length;i++){ %>
            <option value="<%=students[i].stu_id%>"><%=students[i].name%></option>
       <%   } %>
        </select>
      </div>
      <div id="bardiv">
        <canvas id="barchart" width="200" height="200"> </canvas>
      </div>
    </div>
    <div class="piec">
      <h1 style="text-align: center;">pie chart</h1>
      <div class="selectbar">
        <select name="pie" id="pie" onchange="changechartpie(id);">
          <option value="all" selected>All</option>
          <%  for(var i=0; i<students.length;i++){ %>
            <option value="<%=students[i].stu_id%>"><%=students[i].name%></option>
       <%   } %>
        </select>
      </div>
      <div id="piediv">
        <canvas id="piechart" width="200" height="200"> </canvas>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="js/script.js"></script>
</html>

